.contextmenu {
  z-index: 1000;
  position: fixed;
  min-width: 192px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #888;
  border-radius: 8px;
  grid-gap: 4px;
  padding: 4px 0;
  animation: fade-in 200ms;
}

.item {
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  padding: 8px 24px 8px 40px;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  &:not(:disabled):hover {
    background-color: #f0f0f0;
  }
}

.icon {
  font-family: Symbol;
  position: absolute;
  left: 8px;
  top: 50%;
  font-size: 18px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
