.frame {
  padding: 8px 8px 8px 0;
  width: 320px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background: none;
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  line-height: 1;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:not(:disabled):hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    opacity: 0.3;
  }
  span {
    position: relative;
  }
  i {
    opacity: 0.5;
  }
}

.selected {
  background: #000;
  color: #fff;
  font-weight: bold;
}

.dragging {
  opacity: 0.5;
}

.divider {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #0004;
}
